<section id="about-us" class="section">
  <div class="container about">
    <div class="about-wrap">
      <div class="about-content">
        <h2 class="about-title">Про Меблерію</h2>
        <p class="about-text">
          У Меблерії ми прагнемо створювати затишок та функціональність у
          кожному домі. Наша місія - пропонувати високоякісні меблі, що
          поєднують у собі сучасний дизайн, довговічність та доступність. Ми
          віримо, що ідеальний інтер'єр починається з правильних меблів.
        </p>
      </div>
      <picture class="about-picture">
        <source
          media="(min-width: 1440px)"
          srcset="
            /img/about/About-desktop@1x.webp,
            /img/about/About-desktop@2x.webp
          "
        />
        <source
          media="(min-width: 768px)"
          srcset="
            /img/about/About-tablet@1x.webp,
            /img/about/About-tablet@2x.webp
          "
        />
        <img
          class="about-img"
          srcset="
            /img/about/About-mobile@1x.webp,
            /img/about/About-mobile@2x.webp
          "
          src="/img/about/About-mobile@1x.webp"
          alt="Company of people"
        />
      </picture>
    </div>
  </div>
</section>
