<link rel="stylesheet" href="/src/css/feedback.css" />

<section id="feedback" class="section">
  <div class="container">
    <div class="title-container">
      <h2 class="feedback-title">Відгуки клієнтів</h2>
      <p class="reviews-text">
        Дізнайтеся, що кажуть наші задоволені клієнти про нашу меблі.
      </p>
    </div>

    <div class="swiper">
      <ul class="swiper-wrapper"></ul>
    </div>
    <div class="nav">
      <div class="paginator"></div>

      <div class="swiper-navigation">
        <div class="btn-container">
          <button class="btn-prev">
            <svg class="navigation-icon" width="24" height="24">
              <use href="/img/icons.svg#arrow-left-alt"></use>
            </svg>
          </button>
          <button class="btn-next">
            <svg class="navigation-icon" width="24" height="24">
              <use href="/img/icons.svg#arrow-right-alt"></use>
            </svg>
          </button>
        </div>
      </div>
      <div class="swiper-scrollbar"></div>
      <div class="container-control"></div>
    </div>
  </div>
</section>

<script src="https://cdn.jsdelivr.net/npm/axios@1.6.2/dist/axios.min.js"></script>
