<section class="section furniture-section" id="furniture-list">
  <div class="container container-furniture">
    <h2 class="title-category">Наші меблі</h2>
    <p class="description-category">
      Знайдіть ідеальні рішення для вашого інтер'єру
    </p>
    <p class="loader category-loader"></p>
    <ul class="list category-list"></ul>
    <p class="loader furniture-loader"></p>
    <ul class="list furniture-list"></ul>
    <button class="button load-more-button is-hidden" type="button">
      Показати ще
    </button>
  </div>
</section>
