<header class="header">
  <div class="container header-container">
    <a href="../index.html" class="header-logo" aria-label="logo">
      <svg class="header-logo-icon" width="158" height="35">
        <use href="../img/icons.svg#logo"></use>
      </svg>
    </a>
    <nav class="header-nav">
      <ul class="header-nav-list">
        <li class="list-item"><a href="#" class="list-item-link">Наші меблі</a></li>
        <li class="list-item"><a href="#" class="list-item-link">Про нас</a></li>
        <li class="list-item"><a href="#" class="list-item-link">Популярне</a></li>
        <li class="list-item"><a href="#faq" class="list-item-link">Часті питання</a></li>
        <li class="list-item"><a href="#" class="list-item-link">Відгуки</a></li>
        <li class="list-item"><a href="#" class="shopping-btn">До покупок</a></li>
      </ul>
    </nav>
    <button aria-label="open-burger-menu" class="header-burger-btn" type="button" data-burger-open>
      <svg class="burger-btn-icon" width="32" height="32">
        <use href="../img/icons.svg#menu"></use>
      </svg>
    </button>
  </div>
</header>