<header class="header">
  <div class="container header-container">
    <a href="./index.html" class="header-logo" aria-label="Go to home page">
      <svg class="header-logo-icon" width="160" height="36" aria-hidden="true">
        <use href="/img/icons.svg#logo"></use>
      </svg>
    </a>
    <nav class="header-nav">
      <ul class="header-nav-list">
        <li class="header-nav-item">
          <a href="#furniture-list" class="header-nav-link">Наші меблі</a>
        </li>
        <li class="header-nav-item">
          <a href="#about-us" class="header-nav-link">Про нас</a>
        </li>
        <li class="header-nav-item">
          <a href="#pupular-furniture" class="header-nav-link">Популярне</a>
        </li>
        <li class="header-nav-item">
          <a href="#faq" class="header-nav-link">Часті питання</a>
        </li>
        <li class="header-nav-item">
          <a href="#feedback" class="header-nav-link">Відгуки</a>
        </li>
        <li class="header-nav-item">
          <a href="#furniture-list" class="shopping-btn">До покупок</a>
        </li>
      </ul>
    </nav>
    <button
      aria-label="Open menu"
      class="header-burger-btn"
      type="button"
      data-burger-open
    >
      <svg class="burger-btn-icon" width="32" height="32" aria-hidden="true">
        <use href="/img/icons.svg#menu"></use>
      </svg>
    </button>
  </div>
</header>
