<div class="backdrop backdrop-modal" data-backdrop-furniture-details>
  <div class="modal">
    <div class="product_modal_container">
      <button type="button" class="product_modal_close">
        <svg class="product_modal_close_icon" width="24" height="24">
          <use href="./img/icons.svg#icon-close"></use>
        </svg>
      </button>
      <div class="product_modal">
        <div class="product_modal_img">
          <img
            src="https://ftp.goit.study/img/furniture/682f9bbf8acbdf505592ac42_1.jpg"
            alt="furniture 1"
            loading="lazy"
          />
          <div class="product_modal_img_horizontal">
            <img
              src="https://ftp.goit.study/img/furniture/682f9bbf8acbdf505592ac42_2.jpg"
              alt="furniture 2"
              loading="lazy"
            />
            <img
              src="https://ftp.goit.study/img/furniture/682f9bbf8acbdf505592ac42_3.jpg"
              alt="furniture 3"
              loading="lazy"
            />
          </div>
        </div>
        <div class="product_modal_text">
          <h3 class="product_modal_name">Софа Oslo</h3>
          <p class="product_modal_category">Дивани</p>
          <p class="product_modal_price">
            <span class="price_number">9 999</span>
            <span class="price_currency">грн</span>
          </p>
          <div id="my-rater"></div>
          <p class="product_modal_colors">Колір</p>
          <ul class="product_colors">
            <li class="product_color_circle"></li>
            <li class="product_color_circle"></li>
            <li class="product_color_circle"></li>
          </ul>
          <p class="modal_description">
            Класичний диван з м'якими подушками та високою спинкою, ідеальний
            для сімейного відпочинку. Оббивка з якісної зносостійкої тканини.
          </p>
          <p class="product_modal_size">Розміри: 280x180x85</p>
          <button type="button" class="product_modal_button">Перейти до замовлення</button>
        </div>
      </div>
    </div>
  </div>
</div>
