<div class="backdrop burger-menu" data-menu>
  <div class="burger-menu-header-wrapper">
    <div class="container burger-menu-header-container">
      <div class="burger-menu-header">
        <a
          href="./index.html"
          class="header-logo burger-header-logo"
          aria-label="Go to home page"
        >
          <svg
            class="header-logo-icon"
            width="160"
            height="36"
            aria-hidden="true"
          >
            <use href="/img/icons.svg#logo"></use>
          </svg>
        </a>
        <button
          type="button"
          class="burger-menu-close"
          aria-label="Close menu"
          data-burger-close
        >
          <svg
            class="burger-menu-close-icon"
            width="32"
            height="32"
            aria-hidden="true"
          >
            <use href="/img/icons.svg#close"></use>
          </svg>
        </button>
      </div>
    </div>
  </div>
  <div class="burger-menu-nav-wrapper">
    <div class="container burger-menu-nav-container">
      <nav class="burger-nav">
        <ul class="burger-nav-list">
          <li class="burger-nav-item">
            <a href="#furniture-list" class="burger-nav-link">Наші меблі</a>
          </li>
          <li class="burger-nav-item">
            <a href="#about-us" class="burger-nav-link">Про нас</a>
          </li>
          <li class="burger-nav-item">
            <a href="#pupular-furniture" class="burger-nav-link">Популярне</a>
          </li>
          <li class="burger-nav-item">
            <a href="#faq" class="burger-nav-link">Часті питання</a>
          </li>
          <li class="burger-nav-item">
            <a href="#feedback" class="burger-nav-link">Відгуки</a>
          </li>
          <li class="burger-nav-item burger-nav-item-btn">
            <a href="#furniture-list" class="shopping-btn burger-shopping-btn">
              До покупок
            </a>
          </li>
        </ul>
      </nav>
    </div>
  </div>
</div>
