 <div class="backdrop modal-backdrop" data-backdrop-order>
    <div class="modal order-modal">
      <button
        type="button"
        class="close"
        aria-label="Close modal window"
        data-backdrop-order-close
      >
        <svg class="icon-close" width="32" height="32" aria-hidden="true">
          <use href="./img/icons.svg#close"></use>
        </svg>
      </button>

      <h2 class="modal-title">Замовити</h2>

      <form class="form-modal">
        <ul class="form-list">
          <li class="form-item">
            <label for="user-name" class="form-label">
              Ім'я<span class="required">*</span>
            </label>
            <input
              class="form-input"
              type="text"
              name="user-name"
              id="user-name"
              placeholder="Ваше ім'я"
              pattern="[A-Za-zА-Яа-яЇїІіЄєҐґ'\-\s]{2,}"
              title="Ім'я може містити лише літери"
              required
            />
            <p class="error-text">Введіть коректне ім'я</p>
          </li>

          <li class="form-item">
            <label for="user-phone" class="form-label">
              Телефон<span class="required">*</span>
            </label>
            <input
              class="form-input"
              type="tel"
              name="user-phone"
              id="user-phone"
              placeholder="Ваш номер телефону"
              pattern="[0-9]{12}"
              title="Введіть коректний номер телефону (наприклад, 380XXXXXXXXX)"
              required
            />
            <p class="error-text">Введіть коректний номер телефону</p>
          </li>

          <li class="form-item">
            <label for="user-comment" class="form-label">
              Коментар
            </label>
            <textarea
              class="form-input form-textarea"
              name="user-comment"
              id="user-comment"
              placeholder="Введіть ваш коментар"
            ></textarea>
          </li>
        </ul>

        <button class="button order-btn" type="submit">
          Надіслати заявку
        </button>

        <p class="loader is-hidden"></p>
      </form>
    </div>
  </div>

