<div class="backdrop is-open" data-backdrop-order>
  <div class="modal order-modal">
    <button
      type="button"
      class="close"
      aria-label="Close modal window"
      data-backdrop-order-close
    >
      <svg class="icon-close" width="32" height="32" aria-hidden="true">
        <use href="./img/icons.svg#close"></use>
      </svg>
    </button>

    <h2 class="modal-title">Замовити</h2>

    <form class="form-modal">
      <ul class="form-list">
        <li class="form-item">
          <label for="user-name" class="form-label">
            Ім'я<span class="required">*</span>
          </label>
          <input
            class="form-input"
            type="text"
            name="user-name"
            id="user-name"
            placeholder="Ваше ім'я"
          />
          <p class="error-text">Введіть коректне ім'я</p>
        </li>

        <li class="form-item">
          <label for="user-phone" class="form-label">
            Телефон<span class="required">*</span>
          </label>
          <input
            class="form-input"
            type="tel"
            name="user-phone"
            id="user-phone"
            placeholder="Ваш номер телефону"
          />
          <p class="error-text">Введіть коректний номер телефону</p>
        </li>

        <li class="form-item">
          <label for="user-comment" class="form-label"> Коментар </label>
          <textarea
            class="form-input form-textarea"
            name="user-comment"
            id="user-comment"
            placeholder="Введіть ваш коментар"
          ></textarea>
          <p class="error-text">Коментар має містити щонайменше 5 символів</p>
        </li>
      </ul>

      <button class="button order-btn" type="submit">Надіслати заявку</button>

      <p class="loader is-hidden" data-loader-order></p>
    </form>
  </div>
</div>
