<section class="section pupular-furniture-section" id="pupular-furniture">
  <div class="container">
    <div class="popular-wrapper">
      <h2 class="popular-title">Популярні товари</h2>

      <div class="popular-viewport swiper">
        <ul class="popular-list swiper-wrapper"></ul>

        <div class="popular-pagination swiper-pagination"></div>

        <div class="popular-controls">
          <button
            class="swiper-btn popular-prev"
            type="button"
            aria-label="Go to previous pupular furniture"
          >
            <svg width="24" height="24" aria-hidden="true">
              <use class="arr-icon" href="/img/icons.svg#arrow-left-alt"></use>
            </svg>
          </button>
          <button
            class="swiper-btn popular-next"
            type="button"
            aria-label="Go to next pupular furniture"
          >
            <svg width="24" height="24" aria-hidden="true">
              <use class="arr-icon" href="/img/icons.svg#arrow-right-alt"></use>
            </svg>
          </button>
        </div>
      </div>
    </div>
  </div>
</section>
