/*#region ===== About us styles ===== */
.about {
    padding: 64px 20px;
    background-color: #f0e6e6;
}
.about-title {
    font-size: 36px;
    line-height: 1.2;
    margin-bottom: 24px;

}
.about-text {
    margin-bottom: 24px;
}
.about-wrap {
     max-width: 100%;
}

@media screen and (min-width: 768px) {
    .about {
        padding: 32px 32px;
    }
    .about-content {
        max-width: 706px;
    }
    
}
@media screen and (min-width: 1440px){
    .about {
            padding: 64px 64px;
        }
    .about-content {
            max-width: 644px;
        }
    .about-wrap {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}
/*#endregion ===== About us styles ===== */