/*#region ===== Base styles ===== */
*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Raleway', sans-serif;
  font-size: 18px;
  line-height: 1.6;
  font-weight: 400;
  color: #080c09;
  background-color: #ffffff;
  min-height: 100vh;
  overflow-x: hidden;
}

body.no-scroll {
  overflow: hidden;
}

/*#endregion ===== Base styles ===== */
