.burger-menu {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1000;
  background-color: #fff;

  visibility: hidden;
  opacity: 0;
  pointer-events: none;

  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.burger-menu-wrapper {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.header-burger-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 18px 20px;
}
.burger-header-logo {
  display: flex;
  align-items: center;
}

.content-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 32px;
}

.list-item-link {
  font-weight: 600;
  font-size: 18px;
  line-height: 1.6;
}

.burger-content-list-item {
  display: flex;
  justify-content: center;
  width: 100%;
}

.burger-shopping-btn {
  display: block;
  text-align: center;
  max-width: 335px;
  width: 100%;
}

.burger-menu-close {
  display: flex;
  align-items: center;
  padding: 0;
}

.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}
body.no-scroll {
  overflow: hidden;
  position: fixed;
  width: 100%;
}
@media (min-width: 768px) {
  .burger-menu {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: auto;
    width: 250px;
    height: 470px;
    background-color: #fff;
    transition: transform 0.3s ease, opacity 0.3s ease;
    transform: translateX(100%);
  }
  .burger-menu-wrapper {
    max-width: 250px;
  }
  .burger-header-logo {
    display: none;
  }
  .header-burger-menu {
    padding: 15px 32px;
    justify-content: flex-end;
  }
  .burger-menu.is-open {
    transform: translateX(0);
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
  }
  .burger-shopping-btn {
    max-width: 185px;
    align-self: center;
  }
  .list-item-link {
    font-size: 16px;
  }
  .content-list {
    padding: 0 32px;
    align-items: flex-end;
  }
}
@media (min-width: 900px) {
  .burger-menu {
    width: 300px;
  }
}
