/*#region ===== Feedback styles ===== */

.feedback-section {
  padding: 64px 0;
}

.feedback-list {
  display: flex;
  gap: 24px;
}

.feedback-item {
  height: 232px;
}

.feedback-rate {
  display: flex;
  margin-bottom: 24px;
}

.feedback-rate img {
  width: 20px;
}

.feedback-descr {
  font-weight: 500;
  font-size: 20px;
  height: 128px;
  margin-bottom: 24px;
}

.feedback-author {
  font-weight: 700;
  font-size: 16px;
}

.btn-container {
  display: flex;
  gap: 16px;
}

.feedback-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.2;
  letter-spacing: 0.01em;
  padding-bottom: 24px;
}

.title-container {
  margin-bottom: 80px;
}

.btn-prev,
.btn-next {
  background-color: #f2f2f2;
  border: 1px solid rgba(8, 12, 9, 0.15);
  border-radius: 100px;
  width: 48px;
  height: 48px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  transition: background-color 0.35s ease-in-out, opacity 0.35s ease-in-out;
}

.nav {
  margin-top: 48px;
  display: flex;
}

.paginator {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.paginator .swiper-pagination-bullet {
  background-color: #080c09;
  transition: background-color 0.35s ease-in-out, opacity 0.35s ease-in-out;
}

.paginator .swiper-pagination-bullet:hover,
.paginator .swiper-pagination-bullet:focus {
  background-color: #975052;
  opacity: 1;
}

.paginator .swiper-pagination-bullet:active {
  background-color: #6b0609;
  opacity: 1;
}

.btn-prev:hover,
.btn-next:hover,
.btn-prev:focus,
.btn-next:focus,
.swiper-btn:hover,
.swiper-btn:focus {
  background-color: #975052;
}
.btn-next:active,
.btn-prev:active,
.swiper-btn:active {
  background-color: #6b0609;
}
.btn-next:disabled,
.btn-prev:disabled,
.swiper-btn:disabled {
  opacity: 0.3;
  pointer-events: none;
}

.navigation-icon,
.arr-icon {
  fill: #080c09;
  transition: fill 0.35s ease-in-out;
}

.btn-next:hover .navigation-icon,
.btn-next:focus .navigation-icon,
.btn-next:active .navigation-icon,
.btn-prev:hover .navigation-icon,
.btn-prev:focus .navigation-icon,
.btn-prev:active .navigation-icon,
.swiper-btn:hover .arr-icon,
.swiper-btn:focus .arr-icon,
.swiper-btn:active .arr-icon {
  fill: #f2f2f2;
}

.btn-prev:disabled .navigation-icon,
.btn-next:disabled .navigation-icon,
.swiper-btn:disabled .arr-icon {
  pointer-events: none;
}

@media screen and (min-width: 768px) {
  .feedback-section {
    padding: 32px 0;
  }
}

@media screen and (min-width: 1440px) {
  .feedback-section {
    padding: 64px 0;
  }
}
/*#endregion ===== Feedback styles ===== */
