/*#region ===== Furniture list styles ===== */

/* title */

.title-category {
  margin-bottom: 16px;
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.2;
  letter-spacing: 0.01em;
  color: #080c09;
}
.description-category {
  margin-bottom: 40px;
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.6;
  color: #080c09;
}

/* categories */

.category-list {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  margin-bottom: 40px;
}

.category-item {
  width: calc((100% - 16px) / 2);
  height: 122px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 24px 16px;
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4));
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 8px;
  transition: border 350ms ease-in-out, opacity 350ms ease-in-out;
}

.category-item:hover {
  border: 8px solid #6b0609;
  opacity: 0.5;
}

.category-item-active {
  border: 8px solid #6b0609;
}

.category-title {
  display: block;
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.4;
  letter-spacing: 0.01em;
  text-align: center;
  color: #ffffff;
  transition: transform 350ms ease-in-out;
}

.category-item:hover .category-title,
.category-item:focus .category-title {
  transform: scale(1.125);
}

.category-item[data-category-type='all-furniture'] {
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    image-set(
      url('../img/categories/all-furniture@2x.png') 2x,
      url('../img/categories/all-furniture@1x.png') 1x
    );
}

.category-item[data-category-type='upholstered-furniture'] {
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    image-set(
      url('../img/categories/upholstered-furniture@2x.png') 2x,
      url('../img/categories/upholstered-furniture@1x.png') 1x
    );
}

.category-item[data-category-type='wardrobes-storage'] {
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    image-set(
      url('../img/categories/wardrobes-storage@2x.png') 2x,
      url('../img/categories/wardrobes-storage@1x.png') 1x
    );
}

.category-item[data-category-type='beds-mattresses'] {
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    image-set(
      url('../img/categories/beds-mattresses@2x.png') 2x,
      url('../img/categories/beds-mattresses@1x.png') 1x
    );
}

.category-item[data-category-type='tables'] {
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    image-set(
      url('../img/categories/tables@2x.png') 2x,
      url('../img/categories/tables@1x.png') 1x
    );
}

.category-item[data-category-type='chairs-stools'] {
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    image-set(
      url('../img/categories/chairs-stools@2x.png') 2x,
      url('../img/categories/chairs-stools@1x.png') 1x
    );
}

.category-item[data-category-type='kitchens'] {
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    image-set(
      url('../img/categories/kitchens@2x.png') 2x,
      url('../img/categories/kitchens@1x.png') 1x
    );
}

.category-item[data-category-type='kids-furniture'] {
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    image-set(
      url('../img/categories/kids-furniture@2x.png') 2x,
      url('../img/categories/kids-furniture@1x.png') 1x
    );
}

.category-item[data-category-type='office-furniture'] {
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    image-set(
      url('../img/categories/office-furniture@2x.png') 2x,
      url('../img/categories/office-furniture@1x.png') 1x
    );
}

.category-item[data-category-type='hallway-furniture'] {
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    image-set(
      url('../img/categories/hallway-furniture@2x.png') 2x,
      url('../img/categories/hallway-furniture@1x.png') 1x
    );
}

.category-item[data-category-type='bathroom-furniture'] {
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    image-set(
      url('../img/categories/bathroom-furniture@2x.png') 2x,
      url('../img/categories/bathroom-furniture@1x.png') 1x
    );
}

.category-item[data-category-type='outdoor-garden-furniture'] {
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    image-set(
      url('../img/categories/outdoor-garden-furniture@2x.png') 2x,
      url('../img/categories/outdoor-garden-furniture@1x.png') 1x
    );
}

.category-item[data-category-type='decor-accessories'] {
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    image-set(
      url('../img/categories/decor-accessories@2x.png') 2x,
      url('../img/categories/decor-accessories@1x.png') 1x
    );
}

/* products-cards */

.products-colors {
  display: flex;
  flex-direction: row;
  gap: 16px;
}

.products-color {
  width: 24px;
  height: 24px;
  border-radius: 64px;
  border: 1px solid #c7c3bb;
}

.furniture-list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 24px;
  margin-bottom: 32px;
}

.list-item {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.products-name {
  font-family: 'Raleway', sans-serif;
  font-weight: 600;
  font-size: 18px;
  line-height: 1.6;
  color: #080c09;
}

.products-price {
  font-family: 'Raleway', sans-serif;
  font-weight: 600;
  font-size: 20px;
  line-height: 1.6;
  color: #080c09;
}

.products-button {
  border-radius: 100px;
  padding: 10px 24px;
  width: 100%;
  height: 46px;
  box-shadow: 0 1px 2px 0 rgba(8, 12, 9, 0.05),
    inset 0 -2px 1px 0 rgba(8, 12, 9, 0.05),
    inset 0 0 0 1px rgba(8, 12, 9, 0.05);
  background: rgba(8, 12, 9, 0.05);
  font-family: 'Raleway', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  color: #080c09;
}

/* load-more-button */

.load-more-button {
  display: block;
  margin: 0 auto 48px;
  padding: 10px 24px;
  width: 100%;
  height: 46px;
  border-radius: 100px;
  box-shadow: 0 1px 2px 0 rgba(8, 12, 9, 0.05),
    inset 0 -2px 1px 0 rgba(0, 0, 0, 0.2), inset 0 0 0 1px rgba(8, 12, 9, 0.15),
    inset 0 2px 1px 0 rgba(255, 255, 255, 0.25),
    inset 0 32px 24px 0 rgba(255, 255, 255, 0.05);
  background-color: #6b0609;
  font-family: 'Raleway', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  color: #ffffff;
  transition: opacity 350ms ease-in-out, box-shadow 350ms ease-in-out;
}

.load-more-button:hover,
.load-more-button:focus {
  opacity: 0.5;
}

.load-more-button:active {
  opacity: 1;
  box-shadow: none;
}

.load-more-button:disabled {
  opacity: 0.2;
}

/* media screen */

@media screen and (min-width: 768px) {
  .category-list {
    gap: 24px;
  }

  .category-item {
    width: calc((100% - 3 * 24px) / 4);

    & .category-title {
      min-width: 128px;
    }
  }
}

@media screen and (min-width: 1440px) {
  .category-item {
    width: calc((100% - 5 * 24px) / 6);

    & .category-title {
      min-width: 166px;
    }
  }

  .category-item:nth-child(n + 7) {
    width: calc((100% - 6 * 24px) / 7);

    & .category-title {
      min-width: 136px;
    }
  }
}

/*#endregion ===== Furniture list styles ===== */
