/* #region ===== Hero styles ===== */
/*#region ===== Hero styles ===== */

.hero-container {
  padding: 136px 20px;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    image-set(
      url('../img/hero/hero-mobile-img@1x.webp') 1x,
      url('../img/hero/hero-mobile-img@2x.webp') 2x
    );
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.hero-box {
  max-width: 100%;
}

.hero-title {
  color: #ffffff;
  font-size: 40px;
  line-height: 1.2;
  font-weight: 700;
  margin-bottom: 24px;
}

.hero-text {
  color: #ffffff;
  margin-bottom: 32px;
}

.hero-button-feedback {
  background-color: #6b0609;
  font-weight: 500;
  font-size: 16px;
  color: #ffffff;
  width: 100%;
  height: 46px;
  border-radius: 100px;
  padding: 10px 24px;
  transition: opacity 350ms ease-in-out, box-shadow 350ms ease-in-out;
  box-shadow: 0 1px 2px 0 rgba(8, 12, 9, 0.05),
    inset 0 -2px 1px 0 rgba(0, 0, 0, 0.2), inset 0 0 0 1px rgba(8, 12, 9, 0.15),
    inset 0 2px 1px 0 rgba(255, 255, 255, 0.25),
    inset 0 32px 24px 0 rgba(255, 255, 255, 0.05);
}

@media screen and (min-width: 768px) {
  .hero-container {
    padding: 80px 32px;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
      image-set(
        url('../img/hero/hero-tablet-img@1x.webp') 1x,
        url('../img/hero/hero-tablet-img@2x.webp') 2x
      );
  }

  .hero-box {
    max-width: 560px;
  }

  .hero-button-feedback {
    width: 212px;
  }
}

@media screen and (min-width: 1440px) {
  .hero-container {
    padding: 92px 64px;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
      image-set(
        url('../img/hero/hero-desktop-img@1x.webp') 1x,
        url('../img/hero/hero-desktop-img@2x.webp') 2x
      );
  }

  .hero-title {
    font-size: 56px;
  }

  .hero-button-feedback:hover,
  .hero-button-feedback:focus {
    opacity: 0.5;
  }

  .hero-button-feedback:active {
    opacity: 1;
    box-shadow: none;
  }
}
/*#endregion ===== Hero styles ===== */
