.loader {
  width: 46px;
  height: 46px;
  border-width: 3px;
  border-style: dashed solid solid dotted;
  border-color: #6b0609 #6b0609 transparent #6b0609;
  border-radius: 50%;
  display: block;
  margin: 0 auto;
  position: relative;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}
.loader::after {
  content: '';
  box-sizing: border-box;
  position: absolute;
  left: 20px;
  top: 31px;
  border: 10px solid transparent;
  border-right-color: #6b0609;
  transform: rotate(-40deg);
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.loader.is-hidden {
  display: none;
}
