/*#region ===== Modal order styles ===== */
.modal-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 999;
}

.order-modal {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  gap: 48px;
  border-radius: 8px;
  padding: 64px 20px;
  width: 375px;
  background: #fff;
  position: relative;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
}

.close {
  position: absolute;
  top: 16px;
  right: 16px;
  width: 24px;
  height: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  transition: opacity 350ms ease-in-out;
}

.icon-close {
  fill: #080c09;
}

.close:hover,
.close:focus {
  opacity: 0.5;
}

.close:active {
  opacity: 0.3;
}

.modal-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.2; 
  letter-spacing: 0.01em;
  text-align: center;
  color: #080c09;
  width: 100%;
}

.form-list {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  margin-bottom: 24px;
}

.form-item {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 8px;
  position: relative;
}

.form-label {
  line-height: 1.6;
}

.content-name {
  position: relative;
}

.form-input {
  width: 100%;
  height: 42px;
  background-color: rgba(8, 12, 9, 0.05);
  border: 1px solid rgba(8, 12, 9, 0.15);
  border-radius: 12px;
  padding: 8px 12px;
  color: #080c09;
  transition: color 250ms ease-in-out, border-color 250ms ease-in-out;
}
 .form-textarea {
  width: 100%;
  height: 180px;
  resize: none;
}

.form-input:focus {
  border: 1px solid rgba(8, 12, 9, 0.4);
  outline: none;
}

.form-input::placeholder {
  transition: opacity 250ms ease-in-out;
}

.form-input:focus::placeholder {
  opacity: 0;
}

.form-input:not(:placeholder-shown) {
  color: #0d0b0a;
}

.form-input:not(:placeholder-shown):invalid {
  border-color: #6b0609;
  color: #6b0609;
}

.form-input:not(:placeholder-shown):invalid + .error-text {
  opacity: 1;
}

.error-text {
  position: absolute;
  left: 13px;
  bottom: -18px;
  font-size: 12px;
  line-height: 1;
  color: #6b0609;
  opacity: 0;
  transition: opacity 350ms ease-in-out;
}

.order-btn {
  display: block;
  width: 100%;
  height: 46px;
  margin: 0 auto;
  padding: 10px;
  border: none;
  border-radius: 100px;
  background: #6b0609;
  color: #fff;
  font-weight: 600;
  font-size: 16px;
  line-height: 1.6;
  text-align: center;
  cursor: pointer;
  box-shadow: 
    0 1px 2px 0 rgba(8, 12, 9, 0.05),
    inset 0 -2px 1px 0 rgba(0, 0, 0, 0.2),
    inset 0 0 0 1px rgba(8, 12, 9, 0.15),
    inset 0 2px 1px 0 rgba(255, 255, 255, 0.25),
    inset 0 32px 24px 0 rgba(255, 255, 255, 0.05);
  transition: opacity 350ms ease-in-out, box-shadow 350ms ease-in-out;
}

.order-btn:hover,
.order-btn:focus {
  opacity: 0.5;
}
.order-btn:active {
  opacity: 1;
  box-shadow: none;
}

.is-hidden {
  display: none;
}

@media screen and (min-width: 768px) {
  .modal {
    padding: 64px 32px;
    min-height: 573px;
    width: 704px; 
  }
 
  .order-btn {
    width: 196px;
  }
}

@media screen and (min-width: 1440px) {
  .modal {
    padding: 64px 64px;
    width: 866px;
  }
}

/*#endregion ===== Modal order styles ===== */


