.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: visibility 0.5s ease-in-out, opacity 0.5s ease-in-out;
}

.backdrop.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
  transition: visibility 0.5s ease-in-out, opacity 0.5s ease-in-out;
}
