/*#region ===== Modal furniture details styles ===== */

.furniture-modal {
  width: 335px;
  max-height: 90dvh;
  overflow-y: auto;
  padding: 64px 20px 44px;
  display: flex;
  flex-direction: column;
  gap: 24px;
  border-radius: 8px;
  background-color: #ffffff;
  position: relative;
  transition: width 0.5s ease-in-out, max-height 0.5s ease-in-out;
}

.furniture-modal-loader-box {
  width: 0px;
  height: 0px;
  border-radius: 8px;
  padding: 64px 20px;
  background-color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: width 0.5s ease-in-out, height 0.5s ease-in-out;
}

.backdrop.is-open .furniture-modal-loader-box {
  width: 335px;
  height: 90dvh;
}

.furniture-modal-img-list {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
}

.furniture-modal-img-item {
  width: calc((100% - 16px) / 2);
  height: 196px;
  border-radius: 8px;
}

.furniture-modal-img-item:first-child {
  width: 100%;
  height: 296px;
}

.furniture-modal-img {
  border-radius: 8px;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.furniture-modal-info {
  margin-bottom: 24px;
}

.furniture-modal-name {
  font-weight: 700;
  font-size: 32px;
  line-height: 1.3;
  letter-spacing: 0.01em;
}

.furniture-modal-category {
  font-size: 16px;
}

.furniture-modal-price {
  font-weight: 700;
  font-size: 24px;
  line-height: 1.4;
  letter-spacing: 0.01em;
  margin-bottom: 24px;
}

.furniture-modal-rate {
  display: flex;
  margin-bottom: 24px;
}

.furniture-modal-subtitle {
  font-size: 16px;
  margin-bottom: 8px;
}

.furniture-modal-colors {
  display: flex;
  justify-content: flex-start;
  gap: 16px;
  margin-bottom: 24px;
}

.furniture-modal-color {
  width: 32px;
  height: 32px;
  border-radius: 100%;
  border: 1px solid #838584;
  transition: border 350ms ease-in-out;
}

.furniture-modal-color.current-color {
  border: 4px solid #838584;
}

.furniture-modal-description {
  font-size: 16px;
  margin-bottom: 32px;
}

.furniture-modal-size {
  font-size: 16px;
}

.furniture-modal-btn {
  width: 100%;
  height: 46px;
  padding: 10px 24px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  color: #ffffff;
  border-radius: 100px;
  background-color: #6b0609;
  box-shadow: 0 1px 2px 0 rgba(8, 12, 9, 0.05),
    inset 0 -2px 1px 0 rgba(0, 0, 0, 0.2), inset 0 0 0 1px rgba(8, 12, 9, 0.15),
    inset 0 2px 1px 0 rgba(255, 255, 255, 0.25),
    inset 0 32px 24px 0 rgba(255, 255, 255, 0.05);
  transition: opacity 350ms ease-in-out, box-shadow 350ms ease-in-out;
}

@media screen and (min-width: 768px) {
  .furniture-modal {
    padding: 64px 32px 32px;
    width: 704px;
  }

  .backdrop.is-open .furniture-modal-loader-box {
    width: 704px;
  }

  .furniture-modal-description {
    max-width: 420px;
  }
  .furniture-modal-btn {
    max-width: 312px;
  }
}

@media screen and (min-width: 1440px) {
  .furniture-modal {
    width: 1090px;
    padding: 64px;
    flex-direction: row;
  }

  .backdrop.is-open .furniture-modal-loader-box {
    width: 1090px;
  }

  .furniture-modal-img-list {
    min-width: 580px;
    max-width: 580px;
  }

  .furniture-modal-img-item:first-child {
    height: 308px;
  }

  .furniture-modal-name {
    font-size: 40px;
  }

  .furniture-modal-price {
    font-size: 32px;
  }

  .furniture-modal-btn:hover,
  .furniture-modal-btn:focus {
    opacity: 0.5;
  }

  .furniture-modal-btn:active {
    opacity: 1;
    box-shadow: none;
  }

  .furniture-modal-btn:disabled {
    opacity: 0.2;
  }
}

/*#endregion ===== Modal furniture details styles ===== */
