/*#region ===== Modal menu styles ===== */
.burger-menu {
  align-items: flex-start;
  background-color: #ffffff;
  transition-property: opacity, box-shadow;
  transition-duration: 0.35s;
  transition-timing-function: ease-in-out;
}

.burger-menu-wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.header-burger-menu {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.burger-header-logo {
  display: flex;
  align-items: center;
}

.content-list {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.list-item-link {
  font-weight: 600;
  font-size: 18px;
  line-height: 1.6;
}
.menu-content-list-item {
  display: flex;
  justify-content: center;
}
.burger-content-list-item {
  width: 100%;
}

.burger-shopping-btn {
  display: block;
  text-align: center;
  max-width: 335px;
  width: 100%;
}

.burger-menu-close {
  display: flex;
  align-items: center;
  padding: 0;
}

.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}
body.no-scroll {
  overflow: hidden;
  position: fixed;
  width: 100%;
}
@media screen and (min-width: 768px) {
  .burger-content-list-item {
    display: flex;
    justify-content: flex-end;
    margin: 0;
  }
  .burger-header-logo {
    display: none;
  }
  .header-burger-menu {
    padding: 19px 0;
    justify-content: flex-end;
  }
  .burger-menu.is-open {
    margin-top: 70px;
    background-color: rgba(8, 12, 9, 0.5);
    transform: translateX(0);
  }

  .burger-menu-wrapper {
    margin-right: 0;
    margin-top: -70px;
    max-height: 100vh;
    overflow-y: auto;
    background-color: #fff;
    max-width: 250px;
  }

  .burger-shopping-btn {
    align-self: center;
    margin: 18px 0 24px 0;
  }
  .list-item-link {
    font-weight: 600;
    font-size: 18px;
    line-height: 1.6;
  }
  .content-list {
    align-items: flex-end;
  }
}
@media screen and (min-width: 900px) {
  .burger-menu-wrapper {
    padding: 0 98px 0 25px;
  }
  .burger-shopping-btn {
    margin: 18px 0 24px 0;
  }
  .list-item-link {
    font-weight: 600;
    font-size: 18px;
    line-height: 1.6;
  }
}

@media screen and (min-width: 1440px) {
  .burger-menu {
    display: none;
  }
}
/*#endregion ===== MOdal menu styles ===== */
