/*#region ===== Popular furniture styles ===== */
.pupular-furniture-section {
  padding: 48px 0;
}

.popular-viewport .swiper-wrapper {
  align-items: stretch;
}

.popular-viewport .swiper-slide {
  display: flex;
  flex-direction: column;
  height: auto;
}

.popular-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 120%;
  letter-spacing: 0.01em;
  text-align: center;
  color: #080c09;
  margin-bottom: 32px;
}

.popular-list {
  list-style: none;
  padding: 0;
  margin-bottom: 48px;
}

.furniture-data-wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.furniture-visual {
  margin-bottom: 16px;
  width: 100%;
  height: auto;
  overflow: hidden;
  border-radius: 8px;
  background-color: #f3f3f3;
}

.furniture-visual img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.furniture-info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 8px;
}

.furniture-name {
  font-size: 18px;
  font-weight: 600;
  line-height: 160%;
  margin-bottom: 8px;
  color: #080c09;
}

.furniture-price {
  font-size: 16px;
  font-weight: 500;
  color: #080c09;
}

.color-list {
  display: flex;
  gap: 8px;
  padding: 0;
  list-style: none;
  margin: 0;
}

.color-dot {
  width: 16px;
  height: 16px;
  border-radius: 50%;
  border: 1px solid #ccc;
}

.furniture-price {
  margin-bottom: 16px;
}

.furniture-btn {
  margin-top: auto;

  border-radius: 100px;
  padding: 10px 24px;
  width: 100%;
  height: 46px;

  box-shadow: 0 1px 2px 0 rgba(8, 12, 9, 0.05),
    inset 0 -2px 1px 0 rgba(8, 12, 9, 0.05),
    inset 0 0 0 1px rgba(8, 12, 9, 0.05);
  background: rgba(8, 12, 9, 0.05);
}

.furniture-btn:hover,
.furniture-btn:focus {
  opacity: 0.5;
}

.popular-controls {
  display: flex;
  justify-content: flex-end;
  gap: 16px;
}

.swiper-btn {
  align-items: flex-end;
  border: 1px solid rgba(8, 12, 9, 0.15);
  border-radius: 100px;
  padding: 12px;
  width: 48px;
  height: 48px;
  background-color: #f2f2f2;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  transition: background-color 0.35s ease-in-out, opacity 0.35s ease-in-out;
}

.popular-viewport .swiper-pagination-bullets.swiper-pagination-bullets-dynamic {
  left: 10% !important;
}

.popular-pagination .swiper-pagination-bullet {
  background: #080c09;
  opacity: 0.3;
}

.popular-pagination .swiper-pagination-bullet-active {
  opacity: 1;
}

@media screen and (min-width: 768px) {
  .popular-viewport
    .swiper-pagination-bullets.swiper-pagination-bullets-dynamic {
    overflow: visible !important;
  }
}

@media screen and (min-width: 1440px) {
  .pupular-furniture-section {
    padding: 80px 0;
  }
  .popular-title {
    font-size: 48px;
  }
}
/*#endregion ===== Popular furniture styles ===== */
