/* Common styles */
@import url('./reset.css');
@import url('./base.css');
@import url('./container.css');
@import url('./loader.css');

/* Sections styles */
@import url('./header.css');
@import url('./hero.css');
@import url('./furniture-list.css');
@import url('./about-us.css');
@import url('./popular-furniture.css');
@import url('./faq.css');
@import url('./feedback.css');
@import url('./footer.css');

/* Modal styles */
@import url('./modal.css');
@import url('./modal-menu.css');
@import url('./modal-furniture-details.css');
@import url('./modal-order.css');
